.Accueil {
    #boutonSeConnecter {
        color: var(--text-blanc);
    }
    #divRechercheActions {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        input {
            text-align: center;
        }
        #tableauPresentationAction {
            width: 650px;
            margin-top: 8px;
            border-collapse: collapse;

            tr {
                height: 65px;
                cursor: pointer;
            }

            tr.ligneClaire {
                /* border: 1px solid var(--zebra-claire); */
                background-color: var(--zebra-claire);
            }

            tr.ligneSombre {
                /* border: 1px solid var(--zebra-sombre); */

                background-color: var(--zebra-sombre);
            }

            tr.ligneSelectionnee {
                outline: 1px solid #fff; /* contour visible même avec border-collapse */
                outline-offset: -1px; /* pour ne pas agrandir visuellement la ligne */
            }

            td {
                padding-top: 12px;
                padding-bottom: 12px;
                vertical-align: middle;
            }

            .tdPresentation {
                display: flex;
                flex-direction: column;
                padding-left: 28px;

                .nom {
                    font-weight: bold;
                }
                .detail {
                    font-size: 0.8em;
                    margin-top: 2px;
                }
            }
            .tdChiffres {
                width: 90px;
                .rendement {
                    font-weight: bold;
                    margin-top: 2px;
                }
                .positif {
                    color: green;
                }
                .negatif {
                    color: red;
                }
            }
            .tdIcone {
                width: 24px;
                padding-right: 4px;
            }
        }
    }
    /* Gestion modal */
    #divAjouterAchat {
        #pAjouterVente {
            font-weight: bold;
            color: #0085ff;
            text-decoration: underline;
            text-align: center;
            cursor: pointer;
        }
        #divChamps {
            width: 340px;
            margin: auto;
            .ChampDonneesForm {
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 100%;
                gap: 10px;
            }
            #divinputNbrAction label {
                text-align: right;
            }
            #divinputDateAchat {
                justify-content: space-between;
                label {
                    width: 144px;
                }
                input {
                    width: 173px;
                }
            }
            #selectNomPortefeuille {
                display: flex;
                margin: 10px auto;
            }
            #pAucunPortefeuille {
                text-align: center;
                font-size: 0.9em;

                a {
                    color: #0085ff;
                    font-weight: bold;
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
        }
        #pErreurForm {
            text-align: center;
            font-size: 0.9em;
            color: red;
            font-weight: bold;
        }
        button {
            display: flex;
            margin: 10px auto;
        }
    }
    #divSelectionPortefeuille {
        text-align: center;
        #divContenu {
            display: flex;
            flex-direction: column;
            align-items: center;
            form {
                display: flex;
                flex-direction: column;
                align-items: center;
                select {
                    margin-top: 5px;
                    margin-bottom: 10px;
                }
            }
            #pAucunPortefeuille {
                margin-top: 15px;
                margin-bottom: 30px;
            }
            #pCreationPortefeuille {
                margin-top: 10px;
                font-weight: bold;
                text-decoration: underline;
                color: #0085ff;
            }
        }
    }
    #divCreationPortefeuille {
        form {
            margin-left: auto;
            margin-right: auto;
            margin-top: 10px;
            width: 247px;
            #champNom {
                margin-bottom: 14px;
                input {
                    text-align: left;
                }
            }
            .ChampDonneesForm {
                display: block;
            }
            #boutonCreePortefeuille {
                width: 100%;
                text-align: center;
            }
            #pErreur {
                margin-bottom: 14px;
                text-align: center;
            }
        }
    }
}
