.Action {
    display: flex;
    flex-direction: row;
    justify-content: center;
    .PresentationAction {
        margin: 40px 0 0 0;
    }
    #divPresenceDansPortefeuilles {
        width: 370px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 50px;

        #divPossessionActuelle {
            width: 100%;
            height: 140px;
            padding: 12px;
            border: 1px solid #f2f2f2;
            border-radius: 12px;
            margin-top: 40px;
            #divEnTete {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                #pValorisationTotale {
                    font-size: 1.735em;
                    font-weight: bold;
                }
            }

            .divSeparation {
                width: 100%;
                height: 1px;
                background-color: #f2f2f2;
                margin: 10px 0;
            }

            #divGains {
                #divGainDuJour,
                #divGainTotal {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
                #divGainDuJour {
                    margin-bottom: 10px;
                }
            }
        }
        #divVentes {
            width: 100%;
            margin-top: 15px;
            padding: 12px;
            border: 1px solid #f2f2f2;
            border-radius: 12px;
            #titre {
                font-weight: bold;
                font-size: 1.5em;
            }
            #tableauVentes {
                width: 100%;
                border-collapse: collapse;

                th,
                td {
                    height: 40px;
                    text-align: center;
                }
            }
            #pAjouterVentes {
                width: 155px;
                margin: 5px auto 0 auto;
                padding: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                svg {
                    margin-right: 5px;
                }
            }
            #pAjouterVentes:hover {
                background-color: #f2f2f2;
            }
        }
    }
}
