.MesPortefeuilles {
    #tableauPresentationPortefeuilles {
        margin: 15px auto 0 auto;
        width: 700px;
        border-collapse: collapse;

        thead {
            tr {
                height: auto;
            }
        }
        tr {
            height: 45px;
        }
        tr.survolee {
            background-color: rgb(241, 241, 241);
        }
        .celluleNom {
            text-align: center;
        }
        .celluleGain {
            width: 165px;
        }
        .celluleValorisation {
            width: 225px;
            text-align: center;
        }
        .celluleLienDetail {
            width: 40px;
            text-align: center;
            cursor: pointer;
        }
        .celluleAucuneTransaction {
            text-align: center;
            font-weight: bold;
        }
    }
    #divAucunPortefeuille {
        text-align: center;
        p {
            margin:5px 0 20px;
        }
    }
}
