.Portefeuille {
    #divAucuneTransaction {
        #pAucuneTransaction {
            text-align: center;
            margin-top: 10px;
            margin-bottom: 15px;
        }
        button {
            display: flex;
            margin: 0 auto;
        }
    }
    .CartePerformances {
        margin: 15px auto;
    }
    table {
        width: 900px;
        margin: 10px auto 0 auto;
        border-collapse: collapse;
        border: 1px solid transparent;
        thead tr {
            height: auto;
        }

        tr {
            height: 45px;
        }

        tr.survolee {
            background-color: rgb(241, 241, 241);
        }

        #tr1 {
            border-bottom: 1px solid transparent;
        }
        /* Définition des colonnes */
        .colonneNom {
            width: 280px;
            text-align: center;
        }
        .colonnePrix {
            width: 112px;
            text-align: center;
        }
        .colonneCentrer {
            text-align: center;
        }
        .colonneGainDuJour {
            width: 237px;
        }
        .colonneChevron {
            cursor: pointer;
        }

        /* Gestion du style si le détail d'une action est selectionner */
        tbody tr.actionSelectionnee {
            background-color: rgb(241, 241, 241);
            border: 1px solid black;
            border-top: 1px solid black;
            border-bottom: none;
        }
        .trListeTransactions {
            border-right: 1px solid black;
            border-left: 1px solid black;
        }
        .trAjouterUneVente {
            border-bottom: 1px solid black;
            border-right: 1px solid black;
            border-left: 1px solid black;
            text-align: center;
            td {
                padding-bottom: 10px;
            }
        }
        .colonnePoubelle {
            width: 45px;
            cursor: pointer;
        }
    }
    #boutonAjouterAchat {
        margin: 0 auto;
        display: flex;
        width: 117px;
    }
    /* Styles pour la modal */
    #divEnregistrerVente {
        form {
            width: 312px;
            margin: 0 auto;
        }
        #divDonneesFormulaires {
            .ChampDonneesForm {
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 100%;
                gap: 10px;
            }
            #divnomAction,
            #divinputQuantite,
            #divinputPrix {
                text-align: right;
            }
            #divinputDate {
                justify-content: space-between;
                label {
                    width: 158px;
                    text-align: right;
                }
                input {
                    width: 195px;
                }
            }
            #nomAction {
                cursor: not-allowed;
            }
        }
        #pErreurForm {
            margin-top: 15px;
            font-size: 0.9em;
            color: red;
            font-weight: bold;
            text-align: center;
        }
        #divBoutonEnregistrer {
            margin-top: 15px;
            button {
                margin: auto;
                display: flex;
                align-items: center;
                .chargement {
                    margin-right: 10px;
                }
            }
        }
    }

    #divProblemeSuppressionAchat {
        h2 {
            margin-bottom: 8px;
        }
        p {
            line-height: 25px;
        }
        #p1 {
            margin-bottom: 10px;
        }
    }
}
