.PresentationAction {
    border: 1px solid black;
    width: 1000px;
    margin: 40px auto 0 auto;
    #divHeader {
        display: flex;
        justify-content: space-between;
    }
    #pNomValeur {
        font-weight: bo;
    }
    #divChoixEtenduGraphique {
        .aDuree {
            position: relative;
            margin-right: 5px;
            padding: 5px;
            cursor: pointer;
        }

        .aDuree:hover {
            background-color: #f7f8f8;
        }
        
        .aDuree.selectionnee::after {
            content: "";
            position: absolute;
            left: 5px;
            bottom: -2px; /* distance sous le texte */
            width: calc(100% - 10px);
            height: 2px;
            background: currentColor; /* même couleur que le texte */
            border-radius: 2px;
        }
    }
}
