.ApercuCotation {
    width: 200px;
    height: 60px;
    display: flex;
    align-items: center;
    border: 1px solid #f2f2f2;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    #divDonnees {
        margin: auto;
        .positif {
            color: #137333;
        }
        .negatif {
            color: #a50e0e;
        }

        #divPremiereLigne,
        #divSecondeLigne {
            width: 180px;

            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        #divPremiereLigne {
            margin-bottom: 3px;
            #pNom {
                font-weight: bold;
            }
        }
    }
}
.ApercuCotation:hover {
    background-color: #f2f2f2;
}