.PresentationAction {
    width: 1000px;
    margin: 40px auto 0 auto;
    #divHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;

        #divIdentifiantAction {
            #h2NomValeur {
                max-width: 750px;
            }
            #pTicker {
                font-size: 0.9em;
            }
        }
    }
    #divPrix {
        display: flex;
        align-items: center;
        margin-top: 10px;

        #pPrixAction {
            font-size: 2.25em;
        }
        #pRendementAction {
            display: flex;
            align-items: center;

            margin-left: 10px;
        }
    }
}
