.PresentationAction {
    /* border: 1px solid black; */
    width: 1000px;
    margin: 40px auto 0 auto;
    #divRetourChampsRecherche {
        width: 189px;

        display: flex;
        align-items: center;
        cursor: pointer;

        margin-left: -15px;
        margin-bottom: 10px;
        padding: 5px 10px;

        border-radius: 15px;

        p {
            margin-left: 5px;
        }
    }
    #divRetourChampsRecherche:hover {
        background-color: #f7f8f8;
    }
    #divHeader {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;

        #divIdentifiantAction {
            #pTicker {
                font-size: 0.9em;
            }
        }
    }
    #divPrix {
        display: flex;
        align-items: center;
        margin-top: 10px;

        #pPrixAction {
            font-size: 2.25em;
        }
        #pRendementAction {
            display: flex;
            align-items: center;

            margin-left: 10px;
        }
    }
}
